/* Orders.css */

#cart {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.cart {
  margin-bottom: 20px;
}

#cart-items {
  list-style: none;
  padding: 0;
}

#cart-items li {
  margin-bottom: 10px;
}

#cart-total {
  font-weight: bold;
}

.products {
  margin-top: 20px;
}

#product-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: calc(33.333% - 20px); /* Three items per row */
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-info {
  margin-top: 10px;
  font-size: 18px;
}

.add-to-cart {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff6f00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.add-to-cart:hover {
  background-color: #e65c00;
  transform: scale(1.05);
}

.mybtn2 {
  padding: 10px 20px;
  background-color: #ff6f00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.mybtn2:hover {
  background-color: #e65c00;
  transform: scale(1.05);
}

.message {
  margin-top: 20px;
  padding: 10px;
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  border-radius: 5px;
}
